# VS Code settings
.vscode/

# Build output
build/
*.nex
*.bin
*.lst
*.map
*.o
*.obj
*.tmp
*.sld

# Sjasmplus intermediate files
*.ihx
*.no$gmb
*.tap
*.sna
*.hex

# Logs
*.log

# OS-specific
Thumbs.db
.DS_Store

# User-specific
*.swp
*.swo
*.bak

# Ignore test results
*.test.*
*.out

